{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id|raw }}</td>
            <td><a href="/user/{{ user.username|raw }}">{{ user.username|raw }}</a></td>
            <td>
            <form action="{{urlFor('delete')}}" method="POST">
                <input type="hidden" name="username" value="{{user.username|raw}}"/>
                <input type="hidden" name="csrfToken" value="{{csrfToken|raw}}"/>
                <input type="submit" value="Delete user">
            </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% endblock %}
